/* Base Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(230, 44%, 80%);
    color: #333;
}

header, footer {
    background-color: #cebf89;
    color: rgb(234, 224, 224);
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
}

p, ul, blockquote {
    color: #666;
}
.img{
    height: 300px;
    width: 400px;
    padding-bottom: 400px;
}

/* Advanced Styling */
section {
    display:block;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    flex: 0 0 48%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    margin-left: 20px;
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #333;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    section {
        flex-direction: column;
    }

    article {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}
